<footer class="page-footer  yellow"> <!-- grey darken-4 -->
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h6 class="text-black">UNIVERSIDAD PEDAGÓGICA Y TECNOLÓGICA DE COLOMBIA</h6>
          <p class="black-text">
              <a class="link-footer" href="">Sede Central Tunja-Boyacá-Colombia</a><br>
              Avenida Central del Norte 39-155 <br>
              <strong>PBX:</strong> (57+8) 740562 <br>
              <a class="link-footer" href="">portalweb@uptc.edu.co</a> Comentarios de este sitio<br>
              <a class="link-footer" href="">Horario de atención y servicio telefónico</a><br>
              Lunes a viernes de 8:00 a.m. a 12:00 m y 2:00 p.m. a 6:00 p.m. 
          </p>
            
        </div>
        <div class="col l5 offset-l2 s12">
          <p>
              Atención al Ciudadano <br>
              <strong>Línea Gratuira:</strong> 01 8000 942024 <strong>Tel:</strong> (57+8) 7428263 <br>
              <a href="" class="link-footer">quejas.reclamos@uptc.edu.co</a><br>
              <a class="link-footer" href="">Notificaciones Judiciales</a><br>
              <a class="link-footer" href="">Notificaciones de aviso</a><br>
              <a class="link-footer" href="">Estatutos, valores de matrícula y derechos pecuniarios</a><br>
              <a class="link-footer" href="">Transparencia y Acceso a la Información Pública</a><br>
              <a class="link-footer" href="">Rendición de Cuentas</a><br>
          </p>
          
        </div>
      </div>
    </div>
    <div class="footer-copy grey darken-3 center-align">
        Institución de Educación Superior sujeta a inspección y vigilacia por el Ministerio de Educación Nacional <br>
        © <strong>Copyright 2020 UPTC - Departamento de Innovación Académica</strong>
    </div>
  </footer>