.validate {
    color: yellow;
}

.fa-facebook-square{
    color: yellow;
}

.fa-instagram{
    color: yellow;
}

.fa-youtube{
    color: yellow;
}

.fa-search{
    color: yellow;
}

.encabezado-large{
    height: 60px;
    width: 54px;
}

