<nav class="black encabezado-large hide-on-med-and-down">
  <div class="nav-wrapper">
    <ul class="left">
      <div class="social">
        <li>
          <a href="https://m.facebook.com/universidaduptc" target="_blank">
            <div class="icons">
              <i class="fab fa-facebook-square"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/universidaduptc/" target="_blank">
            <div class="icons">
              <i class="fab fa-instagram"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC2Msd-vi6PsH_6q3JJKcAOw" target="_blank">
            <div class="icons">
              <i class="fab fa-youtube"></i>
            </div>
          </a>
        </li>
      </div>
    </ul>
    <ul class="right">
      <li class="left"><a href="sass.html"><i class="fas fa-search"></i></a></li>
      <li class="right"><input placeholder="Buscar" id="search" type="text" class="validate"></li>
    </ul>
  </div>
</nav>

<nav class="black encabezado-medium hide-on-small-only hide-on-large-only">
  <div class="nav-wrapper">
    <ul class="left">
      <div class="social">
        <li>
          <a href="https://m.facebook.com/universidaduptc" target="_blank">
            <div class="icons-med">
              <i class="fab fa-facebook-square fa-sm"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/universidaduptc/" target="_blank">
            <div class="icons-med">
              <i class="fab fa-instagram fa-sm"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC2Msd-vi6PsH_6q3JJKcAOw" target="_blank">
            <div class="icons-med">
              <i class="fab fa-youtube fa-sm"></i>
            </div>
          </a>
        </li>
      </div>
    </ul>
    <ul class="right">
      <li class="left search"><a href="sass.html"><i class="fas fa-search"></i></a></li>
      <li class="right search"><input placeholder="Buscar" id="search" type="text" class="validate"></li>
    </ul>
  </div>
</nav>

<nav class="black encabezado-down hide-on-med-and-up">
  <div class="nav-wrapper" display="inline">
    <ul class="left">
      <div class="social">
        <li>
          <a href="https://m.facebook.com/universidaduptc" target="_blank">
            <div class="icons-dwn">
              <i class="fab fa-facebook-square fa-xs"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/universidaduptc/" target="_blank">
            <div class="icons-dwn">
              <i class="fab fa-instagram fa-xs"></i>
            </div>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UC2Msd-vi6PsH_6q3JJKcAOw" target="_blank">
            <div class="icons-dwn">
              <i class="fab fa-youtube fa-xs"></i>
            </div>
          </a>
        </li>
      </div>
    </ul>
  </div>
</nav>