<div class="slider black">
    <ul class="slides m0">
        <li><img src="../../../assets/images/slides/slide_uptc_02.jpg" alt="slide_2"></li>
        <li><img src="../../../assets/images/slides/slide_uptc_03.png" alt="slide_3"></li>
        <li><img src="../../../assets/images/slides/slide_uptc_04.jpg" alt="slide_4"></li>
        <li><img src="../../../assets/images/slides/slide_uptc_01.jpg" alt="slide_1"></li>
        <li><img src="../../../assets/images/slides/slide_uptc_05.jpg" alt="slide_5"></li>
        <li><img src="../../../assets/images/slides/slide_uptc_06.jpg" alt="slide_6"></li>
        <li><img src="../../../assets/images/slides/slide_uptc_07.jpg" alt="slide_7"></li>
    </ul>
</div>