<div class="container">
    <div class="carousel">
        <a class="carousel-item" href="#one!">
            <img src="assets/images/events/event_01.jpg" class="responsive-img" alt="event1">
        </a>
        <a class="carousel-item" href="#two!">
            <img src="assets/images/events/event_02.jpg" class="responsive-img" alt="event2">
        </a>
        <a class="carousel-item" href="#three!">
            <img src="assets/images/events/event_03.png" class="responsive-img" alt="event3">
        </a>
        <a class="carousel-item" href="#four!">
            <img src="assets/images/events/event_04.jpg" class="responsive-img" alt="event4">
        </a>
        <a class="carousel-item" href="#five!">
            <img src="assets/images/events/event_05.jpg" class="responsive-img" alt="event5">
        </a>
    </div>
</div>
