<!-- <div class="my-carousel"> -->
    <div class="carousel">
        <a class="carousel-item" href="#one!">
            <img src="../../../assets/images/events/event_01.jpg" alt="event1">
        </a>
        <a class="carousel-item" href="#two!">
            <img src="../../../assets/images/events/event_02.jpg" alt="event2">
        </a>
        <a class="carousel-item" href="#three!">
            <img src="../../../assets/images/events/event_03.png" alt="event3">
        </a>
        <a class="carousel-item" href="#four!">
            <img src="../../../assets/images/events/event_04.jpg" alt="event4">
        </a>
        <a class="carousel-item" href="#five!">
            <img src="../../../assets/images/events/event_05.jpg" alt="event5">
        </a>
    </div>
<!-- </div> -->
